@use './config.scss';
@use './tailwind.scss';


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(config.$rb-font-path + '/Roboto-Medium.ttf') format('truetype');
}

html {
  font-family: 'Roboto', sans-serif;
}

header {
  position: sticky;
  top: 0px;
}
