@use '../styles/layout';
@import '../styles/config';
@import '../styles/font-awesome/fontawesome.scss';
@import '../styles/font-awesome/solid.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
}

nav {
  .menu-overlay {
    position: fixed;
  }

  #nav-toggle {
    & + label > .fa-bars {
      display: block;
    }

    & + label > .fa-close,
    & + label + .menu-overlay {
      display: none;
    }
  }

  #nav-toggle:checked {
    & + label > .fa-bars {
      display: none;
    }

    & + label > .fa-close,
    & + label + .menu-overlay {
      display: flex;
    }
  }

  .menu-list {
    > li {
      padding: 1rem;

      > span {
        padding-left: 1rem;
      }
    }
  }
}
